*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    background: #9b59b6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background: #fff;
    width: 400px;
    max-width: 100%;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.header{
    background: #f7f7f7;
    border: 1px solid #f0f0f0;
    padding: 20px 40px;
}

.header h2{
    margin: 0;
}

.form{
    padding: 30px 40px;
}

.form-control{
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.form-control label{
    display: inline-block;
    margin-bottom: 5px;
}

.form-control input{
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    padding: 10px;
    font-size: 14px;
    display: block;
    width: 100%;
    font-family: inherit;
}

.form-control.success input{
    border-color: rgb(93, 204, 93);
}

.form-control.error input{
    border-color: rgb(223, 72, 67);
}

.form-control i{
    position: absolute;
    top: 40px;
    right: 10px;
    visibility: hidden;
}

.form-control.success i.fa-check-circle{
    color: rgb(93, 204, 93);
    visibility: visible;
}

.form-control.error i.fa-exclamation-circle{
    color: rgb(223, 72, 67);
    visibility: visible;
}

.form-control small{
    visibility: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
}

.form-control.error small{
    color: rgb(223, 72, 67);
    visibility: visible;
}

.form button{
    display: block;
    width: 100%;
    padding: 10px;
    background: #9b59b6;
    border: none;
    outline-style: none;
    color: white;
    font-size: 16px;
    font-family: inherit;
    border-radius: 4px;
    cursor: pointer;
}

.form button:hover{
    background: #9b49bb;
}